# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment files
.env

# Backend local database
*.db

# Frontend
node_modules/
dist/

# Generated data
backend/faiss_index/

# IDE
.idea/
.vscode/

# Uploaded documents
backend/documents/